*
{
	margin: 0;
	padding: 0;
}

body
{
	padding: 10px;
}

table, th, td
{
	border: 1px solid black;
}

th, td
{
	padding: 4px;
}

input[type="submit"]
{
	padding: 5px;
}

tr.alt td
{
	background-color: #cccccc;
}

textarea
{
	display: block;
}